
a.done-button{
color: grey;
float: right;
display: inline-block;
height: 16px;
}

a.done-button:hover{
color: green;
}

a.done-button:hover > span{
font-size: larger;
}

img.emoticon{
    width: 45px;
    height: 45px;
    margin: 5px;
}

img.emoticon:hover{
    width: 60px;
    height: 60px;
}

.label_item:hover{
opacity: 1;
}

.radio_item{
    display: none !important;
}

.label_item {
    opacity: 0.3;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.radio_item:checked + label {
    opacity: 1;
}

.radio_item:checked + label > img{
    height: 60px;
    width: 60px;
}