<!DOCTYPE html>
{% autoescape true %}
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/facecheck.css">
    <title>{% block section %}{% endblock %} - Solarsteinn</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>
                Solarsteinn <small>time management</small>
                <div class="pull-right">
                    {% if user %}
                   <a href="{{ logout_url }}" type="button" class="btn btn-default">
                       Log out
                       <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                   </a>
                    {% endif %}
                </div>
            </h1>
        </div>
        {% block sidemenu %}{% endblock %}
        {% block content %}{% endblock %}
        <div class="container">
            <hr/>
            {% block footer %}
            <p class="text-center">&copy; Solarsteinn 2015 by <a href="#">diegodelemos</a>.</p>
            {% endblock %}
        </div>
    </div>
</body>
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
{% endautoescape %}