{% extends "base.html" %}
{% block section %}{{ section }}{% endblock %}
{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <form role="form" id="new-task-form" action="/new-task" onsubmit="return validateForm()" method="post">
            <div class="header">
                <h3>{{ section }}</h3>
                <hr/>
            </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title"
                   placeholder="Enter the task title" {% if task %}value="{{ task.title }}" {% endif %}required>
          </div>
          <div class="form-group">
            <label for="date">Deadline date:</label>
            <input type="date" class="form-control" pattern="\d{4}-\d{2}-\d{2}" name="date" id="date"
                   placeholder="yyyy-mm-dd" {% if task %} value="{{ '%02d' % task.deadline.year }}-{{ '%02d' % task.deadline.month }}-{{ '%02d' % task.deadline.day }}" {% endif %}required>
          </div>
          <div class="form-group">
              <label for="time">Deadline time: (24 hour time)</label>
              <input type="time" class="form-control col-sm-2" id="time" name="time" pattern="\d{2}:\d{2}" placeholder="hh:mm" {% if task %} value="{{ '%02d' % task.deadline.hour }}:{{ '%02d' % task.deadline.minute }}" {% endif %}required>
          </div>
          <div class="form-group">
              <label for="like">Like rating</label>
              <div class="input-group">
                <div class="input-group-addon">I like this </div>
                <input type="number" class="form-control col-sm-2" id="like" size="2" name="like" min="0" max="5" {% if task %}value="{{task.like_rating}}" {% endif %}required>
                <div class="input-group-addon">out of 5</div>
              </div>
          </div>
          <div class="form-group">
              <label for="difficulty">Difficulty rating</label>
              <div class="input-group">
                <div class="input-group-addon">It's complexity is </div>
                <input type="number" class="form-control" id="difficulty" size="2" name="difficulty" min="0" max="5" {% if task %}value="{{task.difficulty_rating}}" {% endif %}required>
                <div class="input-group-addon">out of 5</div>
              </div>
          </div>
          <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" rows="4" name="description" placeholder="Enter a description for this task" id="description">{% if task %}{{ task.description }}{% endif %}</textarea>
          </div>
          {% if task %}
          <input type="hidden" name="task_key" value="{{ task.key.urlsafe() }}"/>
          {% endif %}
          <div class="btn-group btn-group-lg">
            <button type="submit" class="btn btn-primary">
                  {% if task %}
                  Edit Task
                  {% else %}
                  Add
                  {% endif %} <span class="glyphicon glyphicon-plus"></span>
            </button>
            <a type="button" class="btn btn-default" type="button" href="/list">
               Cancel <span class="glyphicon glyphicon-remove"></span>
            </a>

          </div>
        </form>
    </div>
    <div class="clearfix"></div>
{% endblock %}