{% extends "base.html" %}
{% block section %}{{ type.capitalize() }}{% endblock %}
{% block content %}
<div class="alert alert-{{ type }} col-sm-8 col-sm-offset-2" role="alert">
  <p>{{ msg }}
      <a href="{{ url }}" class="alert-link">{{ url_text }}.</a>
  </p>
</div>
<div class="clearfix"></div>
{% endblock %}