{% extends "base.html" %}
{% block section %} {{ section }} {% endblock %}
{% block content %}
<div class="jumbotron col-sm-8 col-sm-offset-2">
    <!--<h1><small>{{ presentation_title }}</small></h1>
    <p>{{ presentation_content }}</p>-->
    <blockquote>
      <p>Lack of direction, not lack of time, is the problem. We all have twenty-four hour days.</p>
      <footer><cite title="Source Title">Zig Ziglar</cite></footer>
    </blockquote>
    <div></div>
    <a type="button" href="{{ login_url }}" class="btn btn-primary">Create account</a>
    <a type="button" href="{{ login_url }}" class="btn btn-default">Log in</a>
    <div></div>
</div>
<div class="clearfix"></div>
{% endblock %}