{% extends "base.html" %}
{% block section %}{{ section }}{% endblock %}
{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-6">
            <form role="form" id="prefferences" action="/prefferences" method="post">
              <div class="form-group">
                <div>
                    <p style="font-size: 20px"><strong>How are you today?</strong></p>
                </div>
                <div>
                    <input type="radio" class="radio_item" value="1" name="mood" id="mood-verysad" style="display: none !important;"
                            {% if p_user.mood_rating == 1 %} checked {% endif %} onchange="submit()">
                    <label class="label_item" for="mood-verysad" style="height: 60px;width: 60px; align-content: space-around">
                        <img src="/images/1.svg" class="emoticon" alt="Very Sad" title="Very sad">
                    </label>
                    <input type="radio" class="radio_item" value="2" name="mood" id="mood-sad" style="display: none !important;"
                            {% if p_user.mood_rating == 2 %} checked {% endif %} onchange="submit()">
                    <label class="label_item" for="mood-sad" style="height: 60px; width: 60px; align-content: space-around">
                        <img src="/images/2.svg" class="emoticon" alt="Sad" title="Sad">
                    </label>
                    <input type="radio" class="radio_item" value="3" name="mood" id="mood-confused" style="display: none !important;"
                            {% if p_user.mood_rating == 3 %} checked {% endif %} onchange="submit()">
                    <label class="label_item" for="mood-confused" style="height: 60px; width: 60px; align-content: space-around">
                        <img src="/images/3.svg" class="emoticon" alt="Confused" title="Confused">
                    </label>
                    <input type="radio" class="radio_item" value="4" name="mood" id="mood-happy" style="display: none !important;"
                            {% if p_user.mood_rating == 4 %} checked {% endif %} onchange="submit()">
                    <label class="label_item" for="mood-happy" style="height: 60px; width: 60px; align-content: space-around">
                        <img src="/images/4.svg" class="emoticon" alt="Happy" title="Happy">
                    </label>
                    <input type="radio" class="radio_item" value="5" name="mood" id="mood-veryhappy" style="display: none !important;"
                            {% if p_user.mood_rating == 5 %} checked {% endif %} onchange="submit()">
                    <label class="label_item" for="mood-veryhappy">
                        <img src="/images/5.svg" class="emoticon" alt="Very happy" title="Very happy">
                    </label>
                    <input type="text" name="utc-offset" value="0" id="utc-offset" hidden="hidden"/>
                </div>
              </div>

            </form>
        </div>
        <div class="pull-right">
              <a type="button" class="btn btn-primary btn-lg" type="button" href="/new-task">
                 <strong>New task</strong> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
               </a>
        </div>
        <div class="clearfix"></div>
        <div class="list-group">
          {% for task in out_of_date %}
          <div class="list-group">
            <div class="list-group-item">
              <h2>
                  <strong class="danger">
                      {{ task.title }}
                      <small>
                          <a href="/edit/{{task.key.urlsafe()}}" title="EditTask">
                              <span class="glyphicon glyphicon-edit"></span>
                          </a>
                      </small>
                  </strong>
                  <a href="/delete/{{task.key.urlsafe()}}" title="Done" class="done-button">
                      <span class="glyphicon glyphicon-remove"></span>
                  </a>
              </h2>
              <h4 class="list-group-item-heading">
                  <span>
                      <p style="color:red">
                          <strong>Task is overdue</strong> by
                          {% if (now-task.deadline).days > 0 %}
                              {% if (now-task.deadline).days|int() > 1 %}
                                  {{ (now-task.deadline).days|int() }} days
                              {% else %}
                                  {{ (now-task.deadline).days|int() }} day
                              {% endif %}
                          {% elif (now-task.deadline).seconds // 3600  > 0 %}
                              {% if (now-task.deadline).seconds // 3600 > 1 %}
                                  {{ (now-task.deadline).seconds // 3600 }} hours
                              {% else %}
                                  {{ (now-task.deadline).seconds // 3600 }} hour
                              {% endif %}
                          {% else %}
                              {% if (now-task.deadline).seconds // 60 == 1 %}
                                  {{ (now-task.deadline).seconds // 60 }} minute
                              {% else %}
                                  {{ (now-task.deadline).seconds // 60 }} minutes
                              {% endif %}
                          {% endif %}
                      </p>

                  </span>
              </h4>
              <p class="list-group-item-text">{% if task.description %}<pre>{{ task.description }}</pre>{% endif %}</p>
            </div>
          </div>
          {% endfor %}
          {% for task in tasks %}
          <div class="list-group">
            <div class="list-group-item">
              <h2>
                  <strong>
                      #{{ loop.index }} {{ task.title }}
                      <small>
                          <a href="/edit/{{task.key.urlsafe()}}" title="EditTask">
                              <span class="glyphicon glyphicon-edit"></span>
                          </a>
                      </small>
                  </strong>
                  <a href="/delete/{{task.key.urlsafe()}}" title="Done" class="done-button">
                      <span class="glyphicon glyphicon-ok"></span>
                  </a>
              </h2>
              <h4 class="list-group-item-heading">
                  <span {% if (task.deadline-now).days|int() < 2 %} style="color: orange" {% endif %}>
                      Date: {{ '%02d' % task.deadline.day }}-{{ '%02d' % task.deadline.month }}-{{ '%02d' % task.deadline.year }}
                      Time: {{ '%02d' % task.deadline.hour }}:{{ '%02d' % task.deadline.minute }}
                  </span>
              </h4>
              <p class="list-group-item-text">{% if task.description %}<pre>{{ task.description }}</pre>{% endif %}</p>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
    <script type="text/javascript">
        var offset = new Date().getTimezoneOffset();
        document.getElementById("utc-offset").value = offset;
    </script>
{% endblock %}
